<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personalink.server.mapper.AnswerDetailMapper">

    <insert id="upsertBatch">
        INSERT INTO t_answer_detail
            (answer_session_id, question_id, option_id, deleted)
        VALUES
        <foreach collection="items" item="item" separator=",">
            (#{item.answerSessionId}, #{item.questionId}, #{item.optionId}, 0)
        </foreach>
        ON DUPLICATE KEY UPDATE deleted = 0, update_date = CURRENT_TIMESTAMP
    </insert>

</mapper>
